.profile__edit-button {
    height: 24px;
    width: 24px;
    padding: 0;
    border: 1px solid #FFF;
    background-color: #000;
    margin: 0 0 7px;
    background-position: center;
    cursor: pointer;
    background-image: url(../../../images/profile-edit-button.svg);
    background-repeat: no-repeat;
}

@media all and (max-width: 626px) {
    .profile__edit-button {
        margin-left: 10px;
        height: 18px;
        width: 18px;
        background-size: 7.5px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}