.header__logo {
    margin-bottom: 41px;
}

@media all and (max-width: 626px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.6px;
        margin-left: 27px;
        margin-right: 27px;
        padding-top: 28px;
    }
}