.popup__edit-place-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: auto;
}

@media all and (max-width: 626px) {
    .popup__edit-place-container {
        width: 282px;
    }
}