.header {
    margin: 0 auto 0;
    padding: 45px 0 0;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media all and (max-width: 1023px) {
    .header {
        margin-left: 71.5px;
        margin-right: 71.5px;
    }
}

@media all and (max-width: 850px) {
    .header {
        max-width: 581px;
        margin: 0 auto 0;
    }
}

@media all and (max-width: 626px) {
    .header {
        padding: 0;
    }
}