.new-place-popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 34px;
    border:0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media all and (max-width: 626px) {
    .new-place-popup__input {
        width: 238px;
    }
}